.sidebar-container {
    background-color: #1976d2;
}

.sidebar-container .title {
    margin: 50px 30px;
    color: #ffffff;
}

.sidebar-container .btn-group-vertical {
    width: 100%;
    margin: 0 auto;
}

.sidebar-container .btn.btn-primary {
    background-color: #1976d2;
    border: none;
    margin: 10px 0;
}

.sidebar-container .btn.btn-primary:hover {
    background-color: #004ba0;
    border: none;
}

.sidebar-container .btn.btn-primary:focus {
    background-color: #004ba0;
    border: none;
    outline: 0;
    box-shadow: none;
}
