.sidebar-container {
  background-color: #1976d2;
}

.title {
  margin: 50px 30px;
  color: #ffffff;
}

.btn-group-vertical {
  width: 100%;
  margin: 0 auto;
}

.btn.btn-secondary {
  background-color: #1976d2;
  border-color: #1976d2;
}

.btn.btn-secondary:hover {
  background-color: #63a4ff;
  border-color: #63a4ff;
}
