.app {
  /*text-align: center;*/
}

.col.col-sm-9 {
  padding: 0;
}

.btn {
  transition: all 1s ease-out !important;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #1976d2;
  height: 70px;
  padding: 20px;
  color: white;
}

.app-header .title {
  padding-left: 20px;
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
